.button {
  background: none;
  // border-radius: 18px;
  
  a {
    border: 1px solid white;
  
    font-size: 1.2em;
    font-family: inherit;
    text-decoration: none;
  
    display: inline-block;
    padding: 1.4rem 3.6rem;
    margin: 0;
  }

  &.light a{
    color: white;
    border-color: white;
  }
  
  &.dark a{
    color: black;
    border-color: black;
  }

  &.centered {
    display: flex;
    justify-content: center;
  }
}