.button {
  background: none;
  border: 1px solid white;
  // border-radius: 18px;
  
  font-size: inherit;
  font-size: 1.2em;
  font-family: inherit;
  text-decoration: none;

	padding: 1.4rem 3.6rem;
	margin: 0;
  display: inline-block;

  &.light {
    color: white;
    border-color: white;
  }
  
  &.dark {
    color: black;
    border-color: black;
  }
}