@import "../styles/layout.scss";

.featuredImage {
  margin: 0 auto;
  max-height: 50vh;
  min-width: $desktopMaxWidth;
}

@media (max-width: $desktopMaxWidth) {
  .featuredImage {
    width: 100vw;
    min-width: 100%;
  }
}

.title {
  text-align: center;
  font-size: 2.5em;
  margin: 2em 0 .4em 0;
}

.date {
  text-align: center;
  margin: .4em 0 2em 0;
  font-size: 1.2em;
  font-weight: 400;

}

section {
  margin-top: 0;
}

section  p + p {
  margin-top: 1em;
}
