@import "../styles/layout.scss";

.featuredImage {
  margin: 0 auto;
  max-height: 30vh;
  min-width: $desktopMaxWidth;
}

@media (max-width: $desktopMaxWidth) {
  .featuredImage {
    width: 100vw;
    min-width: 100%;
  }
}

.header {
  margin: 3em 0;

}

.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}

.date {
  text-align: center;
  margin: .4em;
  font-size: 1.2em;
  font-weight: 400;

}

section {
  margin-top: 0;
  padding-top: 0;
}

section  p + p {
  margin-top: 1em;
}

.layout > article {
  transition: padding .2s ease-in-out;
  
  @media(min-width: $desktopMaxWidth) {
    padding-top: 1em;
  }
}

img {
  max-width: 100%;
}