@import "../styles/layout.scss";

.wrapper {
  height: 40vh;
}

.thumbnail {
  position: fixed!important;
  height: 40vh;
  max-width: 740px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: -1;
  border-radius: 0 0 12px 12px;

  @media(max-width: 700px) {
    border-radius: 0;
  }
}

.content {
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  @media(max-width: 700px) {
    border-radius: 18px;
    transform: translateY(-18px);
  }

  transition: transform .4s ease, border-radius .4s ease;

}

.header {
  margin: 3em 0;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  font-family: "PT Serif";
  margin: 0;
}

.date {
  text-align: center;
  margin: .4em;
  font-size: 1.2em;
  font-weight: 400;

}

section {
  margin-top: 0;
  padding-top: 0;
}

section  p + p {
  margin-top: 1em;
}

.layout > article {
  transition: padding .2s ease-in-out;
  
  @media(min-width: $desktopMaxWidth) {
    // padding-top: 1em;
  }
}

img {
  max-width: 100%;
}