@import '../styles/colors.scss';
@import '../styles/layout.scss';

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: $headerGradient;
	
	height: 80vh;
	
	.logo {
		// align-self: center;
		width: auto;
		height: 30vh;
		max-height: 80vw;
	}

	.wave {
		align-self: flex-start;
		align-self: stretch;
  }
}

section {
	max-width: $desktopMaxWidth;
	padding: 0 1.25em;
	margin: 3em auto 3em auto;
  > * + * {
    margin-top: 1rem;
  }
}
