@import '../styles/colors.scss';
@import '../styles/layout.scss';

$max-width: 890px;

// body {
// 	overflow-y: scroll;
// }

.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	min-height: 50vh;
	padding: 2em .6em;

	img {
		width: calc(10em + 30vw);
		max-width: 800px;
		margin-bottom: .8em;
	}

	h2 {
		font-size: .9em;
		max-width: calc(#{$max-width} - #{$max-width} / 2);
		font-weight: 300;
		text-align: center;
	}
}
