@import "../../styles/layout.scss";

.title {
  font-size: 1.8em;
  text-align: center;
  max-width: $desktopMaxWidth;
  margin: 0 auto;
  display: block;
  padding: 2em .6em;
}

section {
  max-width: 1000px;
}