@import "../../styles/layout.scss";

// .post {
//   position: relative;
//   margin: 1.25em;
//   // width: 100%;

//   .thumbnail {
//     position: relative;
//     // height: 100%;
//     // display: block;
//     // width: 100%;
//     > {
//       max-width: 100%;  
//     }
//   }

//   .title {
//     position: absolute;
//     // z-index: 1;
//     // right: 0;
//     // width: 100%;
//     padding: .4em;
//     bottom: 0;
//     right: 0;
//     text-shadow: 0px 0px 3px  rgba(0, 0, 0, 0.3),
//     0px 1px 12px rgba(0, 0, 0, 0.15);
//     color: white;
//     font-size: 1.4em;
//     text-decoration: none;
//   }
// }


// @media (min-width: 900px) {
// 	.posts {	
// 		display: flex;
// 	 	margin: 0 auto;
// 		width: 90vw;
// 		margin-bottom: 1.25em;
//   }
//   .post {
//     margin: .5em;
//     width: 100%;
//   }
// }

.posts {
	display: grid;
  max-width: $desktopMaxWidth;
  width: 100%;
	margin: 0 auto;
	
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 1rem;
	
	article {
		position: relative;
		width: 100%;
		border-radius: 20px;
		
		&:before {
    	content: "";
    	height: 0;
    	display: inline-block;
    	padding-top: 100%;
    	width: 1px;
    	position: relative;
 		}
		
		&:first-child {
			grid-column: span 2;
			&:before {
				padding-top: 50%;
			}
		}
		
		.inside {
			// background: linear-gradient(0deg, rgba(0,0,0,0.2), transparent);
			color: white;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			overflow: hidden;
			border-radius: .8em;
			
			a:first-child {
				// position: absolute;
				width: 100%;
        height: 100%;
        > * {
          position: static!important;
        }
			}
			
			.title {
				position: absolute;
				bottom: 0;
				padding: 0.6rem;
				margin: 0;
				font-weight: 600;
				color: white;
				z-index: 0;
        text-decoration: none;

        &::after {
					content: "";
					position: absolute;
					width: 120%;
					height: 120%;
					bottom:0;
					left: 0;
					z-index: -1;
					background: rgba(0,0,0,0.65);
					filter: blur(40px);	
				}
				
			}
		}
	}
	
}

@media (max-width: 700px) {
  .posts {
    grid-template-columns: 1fr;
    // grid-auto-rows: 1fr;

    article {
        grid-column: span 2;
        &:before {

          padding-top: 50%;
        }
    }
  }
}